<agm-map id="map"
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  (mapReady)="mapReady($event)">
  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m)"
      [latitude]="m.location.coordinates[1]"
      [longitude]="m.location.coordinates[0]"
      [iconUrl]="m.iconUrl">
  </agm-marker>
</agm-map>

<input id="searchLocation" type="text" class="form-control map__search" #searchLocation autocomplete="off"/>

<div class="map__report">
  <!-- logged in buttons -->
  <div *ngIf="authService.user">
    <button class="mat-raised-button" routerLink="/incident">Report</button>
    <button class="mat-raised-button" (click)="onLogout()">Logout</button>
  </div>

  <!-- logged out buttons -->
  <div *ngIf="!authService.user">
    <div>
      <button class="mat-raised-button" routerLink="/login">Login</button>
      <button class="mat-raised-button" routerLink="/register">Register</button>
    </div>
  </div>
</div>

<div id="map__info">
  <div class="map__info__container">
    <button class="map__info__toggle" (click)="toggleMenu()"><img id="map__info__toggleIcon" src="../../assets/toggleMenu.svg"></button> 
    <h1>Event Info</h1>
    <p>Accident Type: <span id="map__info__type"></span></p>
    <p id="map__info__location">Location</p>
    <p id="map__info__description">Description</p>
    <p>Reported By: <span id="map__info__reported"></span></p>
    <p *ngIf="!authService.user" class="map__info__notice">To register an event, please login or register a new account</p>
  </div>
</div>
